USE [Yahallo]
GO
/****** Object:  Schema [HangFire]    Script Date: 27/05/2026 23:20:09 ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Countries] [int] NOT NULL,
	[Depscription] [nvarchar](max) NOT NULL,
	[Birth] [datetime2](7) NOT NULL,
	[LifeStatus] [int] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssociateName]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssociateName](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[MangaId] [nvarchar](450) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_AssociateName] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attechment]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attechment](
	[Id] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[MediaType] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Url1] [nvarchar](max) NULL,
	[Url2] [nvarchar](max) NULL,
	[Url3] [nvarchar](max) NULL,
	[CommentId] [nvarchar](450) NULL,
	[BlogId] [nvarchar](450) NULL,
	[ReportEntityId] [nvarchar](450) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Attechment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Countries] [int] NOT NULL,
	[Depscription] [nvarchar](max) NOT NULL,
	[Birth] [datetime2](7) NOT NULL,
	[LifeStatus] [int] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [nvarchar](450) NOT NULL,
	[ParentId] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Like] [int] NOT NULL,
	[DisLike] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[Id] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Index] [int] NOT NULL,
	[MangaId] [nvarchar](450) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Chapter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [nvarchar](450) NOT NULL,
	[CanComment] [bit] NOT NULL,
	[CanRemove] [bit] NOT NULL,
	[CanHide] [bit] NOT NULL,
	[CanLike] [bit] NOT NULL,
	[CanReply] [bit] NOT NULL,
	[CommentCount] [int] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[DisLikeCount] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[CommentType] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[MangaId] [nvarchar](450) NULL,
	[ChapterId] [nvarchar](450) NULL,
	[BlogId] [nvarchar](450) NULL,
	[ParentId] [nvarchar](max) NULL,
	[UserEntityId] [nvarchar](450) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Counting]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counting](
	[ParentId] [nvarchar](450) NOT NULL,
	[Type] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[Rating] [real] NOT NULL,
	[NumberOfVisit] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UserVisit] [nvarchar](max) NULL,
	[MangaId] [nvarchar](450) NULL,
	[ChapterId] [nvarchar](450) NULL,
	[CommentId] [nvarchar](450) NULL,
	[BlogId] [nvarchar](450) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Counting] PRIMARY KEY CLUSTERED 
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[UserId] [nvarchar](450) NOT NULL,
	[MangaId] [nvarchar](450) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Follow] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MangaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [nvarchar](450) NOT NULL,
	[Index] [int] NOT NULL,
	[BaseUrl] [nvarchar](max) NOT NULL,
	[CloudUrl] [nvarchar](max) NULL,
	[TypeImage] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[ChapterId] [nvarchar](450) NULL,
	[MangaId] [nvarchar](450) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manga]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manga](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Countries] [int] NOT NULL,
	[Season] [int] NOT NULL,
	[MangaSeasonId] [nvarchar](450) NULL,
	[UserId] [nvarchar](450) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Manga] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MangaArtist]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangaArtist](
	[MangaId] [nvarchar](450) NOT NULL,
	[ArtistId] [nvarchar](450) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_MangaArtist] PRIMARY KEY CLUSTERED 
(
	[MangaId] ASC,
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MangaAuthor]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangaAuthor](
	[MangaId] [nvarchar](450) NOT NULL,
	[AuthorId] [nvarchar](450) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_MangaAuthor] PRIMARY KEY CLUSTERED 
(
	[MangaId] ASC,
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MangaSeason]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangaSeason](
	[Id] [nvarchar](450) NOT NULL,
	[Season] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_MangaSeason] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MangaTag]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangaTag](
	[MangaId] [nvarchar](450) NOT NULL,
	[TagId] [nvarchar](450) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_MangaTag] PRIMARY KEY CLUSTERED 
(
	[MangaId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MangaView]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangaView](
	[MangaId] [nvarchar](450) NOT NULL,
	[View] [int] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_MangaView] PRIMARY KEY CLUSTERED 
(
	[MangaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ReferenceId] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OldPassword]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OldPassword](
	[UserId] [nvarchar](450) NOT NULL,
	[OldPasswords] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_OldPassword] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[UserId] [nvarchar](450) NOT NULL,
	[MangaId] [nvarchar](450) NOT NULL,
	[Rating] [int] NOT NULL,
	[Id] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MangaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reaction]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reaction](
	[UserId] [nvarchar](450) NOT NULL,
	[BlogId] [nvarchar](450) NOT NULL,
	[IsLike] [bit] NOT NULL,
	[IsDisLike] [bit] NOT NULL,
	[VisitCount] [int] NOT NULL,
	[IsSaved] [bit] NOT NULL,
	[Rating] [real] NOT NULL,
	[IsRecommend] [bit] NOT NULL,
	[IsFavorite] [bit] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reaction] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingProgress]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingProgress](
	[UserId] [nvarchar](450) NOT NULL,
	[MangaId] [nvarchar](450) NOT NULL,
	[ChapterId] [nvarchar](450) NOT NULL,
	[LastPage] [int] NOT NULL,
	[LastReadAt] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_ReadingProgress] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MangaId] ASC,
	[ChapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportEntity]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportEntity](
	[Id] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[Target] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[IdUserReport] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_ReportEntity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[RoleCode] [int] NOT NULL,
	[RoleName] [nvarchar](450) NOT NULL,
	[RoleDescription] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Plan] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Subscription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThreadOfBlog]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThreadOfBlog](
	[BlogId] [nvarchar](450) NOT NULL,
	[ThreadId] [nvarchar](450) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThreadOfBlog] PRIMARY KEY CLUSTERED 
(
	[ThreadId] ASC,
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Threads]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Threads](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Threads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMangaView]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMangaView](
	[UserId] [nvarchar](450) NOT NULL,
	[MangaId] [nvarchar](450) NOT NULL,
	[ViewedAt] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserMangaView] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MangaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PhoneNumber] [varchar](max) NULL,
	[EmailConfirm] [bit] NOT NULL,
	[PhoneConfirmed] [bit] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserToken]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToken](
	[Id] [nvarchar](450) NOT NULL,
	[AccessToken] [nvarchar](max) NOT NULL,
	[RefeshToken] [nvarchar](max) NOT NULL,
	[ExpiredRefeshToken] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IdUserCreate] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IdUserUpdate] [nvarchar](max) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IdUserDelete] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[AggregatedCounter]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[AggregatedCounter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [bigint] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_CounterAggregated] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Counter]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Counter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[ExpireAt] [datetime] NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_HangFire_Counter] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Hash]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Hash](
	[Key] [nvarchar](100) NOT NULL,
	[Field] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime2](7) NULL,
 CONSTRAINT [PK_HangFire_Hash] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Job]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Job](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StateId] [bigint] NULL,
	[StateName] [nvarchar](20) NULL,
	[InvocationData] [nvarchar](max) NOT NULL,
	[Arguments] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobParameter]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobParameter](
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_JobParameter] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobQueue]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobQueue](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Queue] [nvarchar](50) NOT NULL,
	[FetchedAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_JobQueue] PRIMARY KEY CLUSTERED 
(
	[Queue] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[List]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[List](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_List] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Schema]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Schema](
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_HangFire_Schema] PRIMARY KEY CLUSTERED 
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Server]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Server](
	[Id] [nvarchar](200) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[LastHeartbeat] [datetime] NOT NULL,
 CONSTRAINT [PK_HangFire_Server] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Set]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Set](
	[Key] [nvarchar](100) NOT NULL,
	[Score] [float] NOT NULL,
	[Value] [nvarchar](256) NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Set] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[State]    Script Date: 27/05/2026 23:20:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[State](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_State] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251027144325_yahallo', N'7.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260526161209_v1', N'7.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260527161221_v1', N'7.0.0')
GO
INSERT [dbo].[Artist] ([Id], [Name], [Countries], [Depscription], [Birth], [LifeStatus], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'064683f13a7b4c30bcd8aca783e760e1', N'Hiroyuki Sawano', 1, N'Director', CAST(N'2025-11-03T13:54:36.0940000' AS DateTime2), 1, CAST(N'2025-11-03T21:04:53.2785568' AS DateTime2), N'7fb4e587d50f4c73a5ed29f706eb94e1', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Image] ([Id], [Index], [BaseUrl], [CloudUrl], [TypeImage], [UserId], [ChapterId], [MangaId], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'd96eb51501d147b0819f65c3032a8bae', 1, N'Data\Thumbnail\thumb-1920-385060.jpg', NULL, 2, NULL, NULL, N'1dfac27a4824485f971c511974b58e64', CAST(N'2025-11-12T22:56:46.8709717' AS DateTime2), N'7fb4e587d50f4c73a5ed29f706eb94e1', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Manga] ([Id], [Name], [Description], [Level], [Status], [Type], [Countries], [Season], [MangaSeasonId], [UserId], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'1dfac27a4824485f971c511974b58e64', N'Guilty Crown', N'Something', 1, 1, 1, 1, 1, N'335c37d36a8842f58bb89c74d8fd4026', N'7fb4e587d50f4c73a5ed29f706eb94e1', CAST(N'2025-11-12T22:56:36.6478955' AS DateTime2), N'7fb4e587d50f4c73a5ed29f706eb94e1', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[MangaSeason] ([Id], [Season], [Description], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'1e81a6a3c75a42c28cb91b2eaa7ad938', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MangaSeason] ([Id], [Season], [Description], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'2cda4044828b41b2b5dad9896ad2af0a', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MangaSeason] ([Id], [Season], [Description], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'335c37d36a8842f58bb89c74d8fd4026', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[OldPassword] ([UserId], [OldPasswords], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'7fb4e587d50f4c73a5ed29f706eb94e1', N'{Hai@119067}', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [RoleCode], [RoleName], [RoleDescription], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'12a340698bd848f58928ca288e0b329b', 3, N'Trans', N'Translator', CAST(N'2025-10-27T21:49:39.1067783' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Roles] ([Id], [RoleCode], [RoleName], [RoleDescription], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'541d204a8b4d4b0092d46bd5337d3f4b', 2, N'Mod', N'Moderator', CAST(N'2025-10-27T21:48:36.3592914' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Roles] ([Id], [RoleCode], [RoleName], [RoleDescription], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'56575a86ad0d4321ac0f2934ef57cd82', 3, N'Mod', N'Role for Moderator', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[UserRole] ([UserId], [RoleId], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'7fb4e587d50f4c73a5ed29f706eb94e1', N'541d204a8b4d4b0092d46bd5337d3f4b', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [DisplayName], [FirstName], [LastName], [Email], [PhoneNumber], [EmailConfirm], [PhoneConfirmed], [UserName], [Password], [Status], [Level], [CreateDate], [IdUserCreate], [UpdateDate], [IdUserUpdate], [DeleteDate], [IdUserDelete]) VALUES (N'7fb4e587d50f4c73a5ed29f706eb94e1', N'Lê Hải', N'Lê', N'Hải', N'haileds939@gmail.com', N'0384539162', 1, 0, N'lesonhai0339', N'JFZ+Sl0ajbJdJF4On13DTpohcZQsnXqy5RHsRCUSJ0oXhprf', 1, 1, CAST(N'2025-10-27T22:08:59.6900755' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:cleanup-soft-deleted', N'CreatedAt', N'1779893899650', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:cleanup-soft-deleted', N'Cron', N'0 0 * * 1', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:cleanup-soft-deleted', N'Job', N'{"t":"YAHALLO.Infrastructure.Jobs.IBackgroundJobService, YAHALLO.Infrastructure","m":"CleanupSoftDeletedRecordsAsync","p":["System.Int32","System.Threading.CancellationToken, mscorlib"],"a":["30",null]}', NULL)
GO
INSERT [HangFire].[Schema] ([Version]) VALUES (9)
GO
INSERT [HangFire].[Server] ([Id], [Data], [LastHeartbeat]) VALUES (N'gc:24660:35240bbb-a30b-4321-a2ca-85169c88cbcb', N'{"WorkerCount":20,"Queues":["default"],"StartedAt":"2026-05-27T16:12:40.5065962Z"}', CAST(N'2026-05-27T16:19:40.693' AS DateTime))
GO
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1780272000, N'cleanup-soft-deleted', NULL)
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1779926400, N'expire-subscriptions', NULL)
GO
ALTER TABLE [dbo].[AssociateName]  WITH CHECK ADD  CONSTRAINT [FK_AssociateName_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[AssociateName] CHECK CONSTRAINT [FK_AssociateName_Manga_MangaId]
GO
ALTER TABLE [dbo].[Attechment]  WITH CHECK ADD  CONSTRAINT [FK_Attechment_Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([Id])
GO
ALTER TABLE [dbo].[Attechment] CHECK CONSTRAINT [FK_Attechment_Blogs_BlogId]
GO
ALTER TABLE [dbo].[Attechment]  WITH CHECK ADD  CONSTRAINT [FK_Attechment_Comment_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comment] ([Id])
GO
ALTER TABLE [dbo].[Attechment] CHECK CONSTRAINT [FK_Attechment_Comment_CommentId]
GO
ALTER TABLE [dbo].[Attechment]  WITH CHECK ADD  CONSTRAINT [FK_Attechment_ReportEntity_ReportEntityId] FOREIGN KEY([ReportEntityId])
REFERENCES [dbo].[ReportEntity] ([Id])
GO
ALTER TABLE [dbo].[Attechment] CHECK CONSTRAINT [FK_Attechment_ReportEntity_ReportEntityId]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_Chapter_Manga_MangaId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Blogs_BlogId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Chapter_ChapterId] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapter] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Chapter_ChapterId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Manga_MangaId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Users_UserEntityId] FOREIGN KEY([UserEntityId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Users_UserEntityId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Users_UserId]
GO
ALTER TABLE [dbo].[Counting]  WITH CHECK ADD  CONSTRAINT [FK_Counting_Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([Id])
GO
ALTER TABLE [dbo].[Counting] CHECK CONSTRAINT [FK_Counting_Blogs_BlogId]
GO
ALTER TABLE [dbo].[Counting]  WITH CHECK ADD  CONSTRAINT [FK_Counting_Chapter_ChapterId] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapter] ([Id])
GO
ALTER TABLE [dbo].[Counting] CHECK CONSTRAINT [FK_Counting_Chapter_ChapterId]
GO
ALTER TABLE [dbo].[Counting]  WITH CHECK ADD  CONSTRAINT [FK_Counting_Comment_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comment] ([Id])
GO
ALTER TABLE [dbo].[Counting] CHECK CONSTRAINT [FK_Counting_Comment_CommentId]
GO
ALTER TABLE [dbo].[Counting]  WITH CHECK ADD  CONSTRAINT [FK_Counting_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Counting] CHECK CONSTRAINT [FK_Counting_Manga_MangaId]
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_Manga_MangaId]
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_Users_UserId]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Chapter_ChapterId] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapter] ([Id])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Chapter_ChapterId]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Manga_MangaId]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Users_UserId]
GO
ALTER TABLE [dbo].[Manga]  WITH CHECK ADD  CONSTRAINT [FK_Manga_MangaSeason_MangaSeasonId] FOREIGN KEY([MangaSeasonId])
REFERENCES [dbo].[MangaSeason] ([Id])
GO
ALTER TABLE [dbo].[Manga] CHECK CONSTRAINT [FK_Manga_MangaSeason_MangaSeasonId]
GO
ALTER TABLE [dbo].[Manga]  WITH CHECK ADD  CONSTRAINT [FK_Manga_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Manga] CHECK CONSTRAINT [FK_Manga_Users_UserId]
GO
ALTER TABLE [dbo].[MangaArtist]  WITH CHECK ADD  CONSTRAINT [FK_MangaArtist_Artist_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artist] ([Id])
GO
ALTER TABLE [dbo].[MangaArtist] CHECK CONSTRAINT [FK_MangaArtist_Artist_ArtistId]
GO
ALTER TABLE [dbo].[MangaArtist]  WITH CHECK ADD  CONSTRAINT [FK_MangaArtist_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[MangaArtist] CHECK CONSTRAINT [FK_MangaArtist_Manga_MangaId]
GO
ALTER TABLE [dbo].[MangaAuthor]  WITH CHECK ADD  CONSTRAINT [FK_MangaAuthor_Author_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([Id])
GO
ALTER TABLE [dbo].[MangaAuthor] CHECK CONSTRAINT [FK_MangaAuthor_Author_AuthorId]
GO
ALTER TABLE [dbo].[MangaAuthor]  WITH CHECK ADD  CONSTRAINT [FK_MangaAuthor_Manga_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[MangaAuthor] CHECK CONSTRAINT [FK_MangaAuthor_Manga_AuthorId]
GO
ALTER TABLE [dbo].[MangaTag]  WITH CHECK ADD  CONSTRAINT [FK_MangaTag_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MangaTag] CHECK CONSTRAINT [FK_MangaTag_Manga_MangaId]
GO
ALTER TABLE [dbo].[MangaTag]  WITH CHECK ADD  CONSTRAINT [FK_MangaTag_Tag_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MangaTag] CHECK CONSTRAINT [FK_MangaTag_Tag_TagId]
GO
ALTER TABLE [dbo].[MangaView]  WITH CHECK ADD  CONSTRAINT [FK_MangaView_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[MangaView] CHECK CONSTRAINT [FK_MangaView_Manga_MangaId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Users_UserId]
GO
ALTER TABLE [dbo].[OldPassword]  WITH CHECK ADD  CONSTRAINT [FK_OldPassword_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OldPassword] CHECK CONSTRAINT [FK_OldPassword_Users_UserId]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Manga_MangaId]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Users_UserId]
GO
ALTER TABLE [dbo].[Reaction]  WITH CHECK ADD  CONSTRAINT [FK_Reaction_Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([Id])
GO
ALTER TABLE [dbo].[Reaction] CHECK CONSTRAINT [FK_Reaction_Blogs_BlogId]
GO
ALTER TABLE [dbo].[Reaction]  WITH CHECK ADD  CONSTRAINT [FK_Reaction_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reaction] CHECK CONSTRAINT [FK_Reaction_Users_UserId]
GO
ALTER TABLE [dbo].[ReadingProgress]  WITH CHECK ADD  CONSTRAINT [FK_ReadingProgress_Chapter_ChapterId] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapter] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReadingProgress] CHECK CONSTRAINT [FK_ReadingProgress_Chapter_ChapterId]
GO
ALTER TABLE [dbo].[ReadingProgress]  WITH CHECK ADD  CONSTRAINT [FK_ReadingProgress_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[ReadingProgress] CHECK CONSTRAINT [FK_ReadingProgress_Manga_MangaId]
GO
ALTER TABLE [dbo].[ReadingProgress]  WITH CHECK ADD  CONSTRAINT [FK_ReadingProgress_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReadingProgress] CHECK CONSTRAINT [FK_ReadingProgress_Users_UserId]
GO
ALTER TABLE [dbo].[ReportEntity]  WITH CHECK ADD  CONSTRAINT [FK_ReportEntity_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReportEntity] CHECK CONSTRAINT [FK_ReportEntity_Users_UserId]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Users_UserId]
GO
ALTER TABLE [dbo].[ThreadOfBlog]  WITH CHECK ADD  CONSTRAINT [FK_ThreadOfBlog_Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([Id])
GO
ALTER TABLE [dbo].[ThreadOfBlog] CHECK CONSTRAINT [FK_ThreadOfBlog_Blogs_BlogId]
GO
ALTER TABLE [dbo].[ThreadOfBlog]  WITH CHECK ADD  CONSTRAINT [FK_ThreadOfBlog_Threads_ThreadId] FOREIGN KEY([ThreadId])
REFERENCES [dbo].[Threads] ([Id])
GO
ALTER TABLE [dbo].[ThreadOfBlog] CHECK CONSTRAINT [FK_ThreadOfBlog_Threads_ThreadId]
GO
ALTER TABLE [dbo].[UserMangaView]  WITH CHECK ADD  CONSTRAINT [FK_UserMangaView_Manga_MangaId] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMangaView] CHECK CONSTRAINT [FK_UserMangaView_Manga_MangaId]
GO
ALTER TABLE [dbo].[UserMangaView]  WITH CHECK ADD  CONSTRAINT [FK_UserMangaView_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMangaView] CHECK CONSTRAINT [FK_UserMangaView_Users_UserId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Users_UserId]
GO
ALTER TABLE [dbo].[UserToken]  WITH CHECK ADD  CONSTRAINT [FK_UserToken_Users_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserToken] CHECK CONSTRAINT [FK_UserToken_Users_Id]
GO
ALTER TABLE [HangFire].[JobParameter]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_JobParameter_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[JobParameter] CHECK CONSTRAINT [FK_HangFire_JobParameter_Job]
GO
ALTER TABLE [HangFire].[State]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_State_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[State] CHECK CONSTRAINT [FK_HangFire_State_Job]
GO
